<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bioskop.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Lista svih bioskopa</title>
</head>
<body sec:authorize="isAuthenticated()">

<div class="naslov">
  <h1>Cineplexx</h1></div>
<nav>
  <ul class="pozadina">
    <li><a th:href="@{/}">Dobrodošli</a></li>
    <li><a th:href="@{/film/list}" >Repertoar</a></li>
    <li><a th:href="@{/bioskop/list}" >Bioskopi</a></li>
    <li><a th:href="@{/projekcija/list}" >Projekcije</a></li>
    <li sec:authorize="hasAuthority('ADMIN')"> <a  th:href="@{/admin}">Admin</a></li>
    <li> <a  th:href="@{/logout}">Odjavi se</a></li>
  </ul>
</nav>

<h1 class="glavniNaslov">Bioskop</h1>

<br>
<div class="dugmeDodaj"  sec:authorize="hasAuthority('ADMIN')">
  <a style="color: #ff7300" th:href="@{/bioskop/showFormAdd}">
    Dodaj Bioskop
  </a></div>
<br>
<table>

  <tr th:each="tempCinema : ${cinemas}">
    <td th:text="${tempCinema.nazivbioskopa}" />

    <td th:text="'Adresa: '+${tempCinema.adresa}" />
    <td th:text="${tempCinema.telefon}" />
    <td>
      <div class="detaljnije"> <a style="color: #ff7300" th:href="@{/bioskop/showDetail(idbioskop=${tempCinema.idbioskop})}" >DETALJNIJE

      </a></div></td>


  </tr>

</table>

</body>
</html>