<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet"
        th:href="@{/css/film-forma.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <title>Nova sala</title>
</head>
<body sec:authorize="isAuthenticated()">


  <div id="naslov">
    <h1>Cineplexx</h1></div>
  <nav>
    <ul class="pozadina">
      <li><a th:href="@{/home}">Dobrodošli</a></li>
      <li><a th:href="@{/film/list}" >Repertoar</a></li>
      <li><a th:href="@{/bioskop/list}" >Bioskopi</a></li>
      <li><a th:href="@{/projekcija/list}" >Projekcije</a></li>
      <li > <a  th:href="@{/rezervacija/list}">Moje informacije</a></li>
      <li sec:authorize="hasAuthority('ADMIN')"> <a  th:href="@{/admin}">Admin</a></li>
      <li> <a  th:href="@{/logout}">Odjavi se</a></li>
    </ul>
  </nav>
  <div class="container">

  <h1 class="glavniNaslov">Sala forma</h1>

  <form style="margin-left:200px" action="#" th:action="@{/sala/save}" th:object="${sala}" method="POST">

    <input type="hidden" th:field="*{idsala}" />
    <input type="hidden" th:field="*{bioskop.idbioskop}" />
    <div class="row">
    <input type="text" th:field="*{naziv}"
           class="form-control mb-4 col-4" placeholder="Naziv sale ">
    <span class="validationError col" th:if="${#fields.hasErrors('naziv')}" th:errors="*{naziv}"> Error</span>

    </div>
    <div class="row">
      <input type="text" th:field="*{kapacitet}"
           class="form-control mb-4 col-4" placeholder="kapacitet ">
    <span class="validationError col" th:if="${#fields.hasErrors('kapacitet')}" th:errors="*{kapacitet}"> Error</span>
    </div>
    <button  style="background-color: #ff7300" type="submit" class="btn btn-info col-2">Sacuvaj</button>

  </form>

  <hr>

  <a style="color: #ff7300; margin-left:200px" th:href="@{/bioskop/showDetail(idbioskop=${sala.bioskop.idbioskop})}">Vrati se da vidis sve o bioskopu</a>

</div>

</body>
</html>