<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/user.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Update user info</title>
</head>
<body sec:authorize="isAuthenticated()">
<div id="naslov">
    <h1>Cineplexx</h1></div>
<nav>
    <ul class="pozadina">
        <li><a th:href="@{/home}">Dobrodošli</a></li>
        <li><a th:href="@{/film/list}" >Repertoar</a></li>
        <li><a th:href="@{/bioskop/list}" >Bioskopi</a></li>
        <li><a th:href="@{/projekcija/list}" >Projekcije</a></li>
        <li > <a  th:href="@{/rezervacija/list}">Moje informacije</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"> <a  th:href="@{/admin}">Admin</a></li>
        <li> <a  th:href="@{/logout}">Odjavi se</a></li>


    </ul>
</nav>
<h1 style="margin-bottom: 30px;" class="glavniNaslov">Izmena korisnika</h1>

<!--form-->
<form style="margin-left:200px" action="#" th:action="@{/rezervacija/saveUser}" th:object="${user}" method="POST">

    <input type="hidden" th:field="*{iduser}" />
    <div class="row">
    <input type="text" th:field="*{ime}" class="form-control mb-4 col-4" placeholder="Ime">
    <span class="validationError col" th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}"> Error</span>
    </div>
    <div class="row">
    <input type="text" th:field="*{prezime}" class="form-control mb-4 col-4" placeholder="prezime">
    <span class="validationError col" th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}"> Error</span>
    </div>
    <div class="row">
        <input type="text" th:field="*{username}" class="form-control mb-4 col-4" placeholder="username">
    <span class="validationError col" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> Error</span>
    </div>
    <div class="row">
        <input type="text" th:field="*{password}" class="form-control mb-4 col-4" placeholder="password" readonly>
    </div>
        <div class="row">
            <input type="text" th:value="${newPassword}" th:name="newPassword" class="form-control mb-4 col-4" placeholder="password" >
    <span class="validationError col" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Error</span>
        </div>

        <div class="row">
            <input type="text" th:field="*{email}"
           class="form-control mb-4 col-4" placeholder="email">
    <span class="validationError col" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Error</span>
        </div>
        <div class="row">
            <input type="text" th:field="*{brojTelefona}"
           class="form-control mb-4 col-4" placeholder="broj telefona">
    <span class="validationError col" th:if="${#fields.hasErrors('brojTelefona')}" th:errors="*{brojTelefona}"> Error</span>
        </div>
<div class="row">
            <input type="text" th:field="*{uloga}"
           class="form-control mb-4 col-4" placeholder="uloga" readonly>
    </div>
    <button  style="background-color: #ff7300" type="submit" class="btn btn-info col-2">Sacuvaj</button>

</form>

<hr>

<a style="color: #ff7300; margin-left:200px; font-size: 20px;margin-bottom: 50px;" th:href="@{/rezervacija/list}">Vrati se da vidis sve informacije</a>

</body>
</html>