body{background-image: url(https://i.pinimg.com/564x/8e/f3/f7/8ef3f7582ad5f99b05dc8a0e9e4af09a.jpg);
    background-color: #ffffff; /* Used if the image is unavailable */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    position: sticky;

}
#naslov{
    font-family: 'Galada', serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(145, 145, 145);
    margin-bottom: 5px;
    color: white;
    margin-top: 20px;
}

.glavniNaslov {
    color: white;
    font-family: 'Galada', serif;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(145, 145, 145);
    margin-bottom: 10px;

}
nav{
    background-color: grey;
    opacity: 70%;
    height: 80px;
    width: 90%;
    margin-left: 60px;
}
nav ul{
    text-align: center;
}
nav  ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    font-size: 25px;
    padding: 15px 40px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #e0dfdf;
    text-decoration: none;
}
.pozadina a.active,
.pozadina a:hover {
    background-color: grey;
    transition: .5s;
}
.dugmeDodaj{
    text-align: center;
    font-size: 20px;
    color:white;
    width: 15%;
    background-color: rgba(173, 172, 172, 0.28);
    border: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}


td{
    font-size: 15px;
    height: 100px;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;

}
tr{
    background-color: rgba(0, 0, 0, 0.57);
    border-bottom: 1px solid #ddd;

}
table{
    color:white ;
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.detaljnije{
    color: black;
    background-color: rgba(145, 145, 145, 0.37);
    height: 50px;
    width: 100px;
    margin-right: 20px;
    text-align: center;

}a{
     color: #ff7300;
 }
a:hover {
    color: #ffffff;
}
#admin p{
    text-align: center;
    background-color: #bebdbd;
    display:inline-block;
    height: 50px;
    width: 120px;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

}
#text{
    background-color: #dddddd;
    margin: auto;
    position: relative;
    width: 30%;
    border-style: solid;
    border-color: #ff7300;
    text-align: center;
}


#link{
    width: 30%;
   margin: auto;
    text-align: center;
}

#rezervacija{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #ff7300;

}
#rezervacija a{
    font-family: "Courier New";
    color: white;
    font-size: 20px;
}

.naslov{
    font-size: 20px;
    color: white;
    font-family: 'Galada', serif;
    text-align: center;
}