<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
<br>
<br>
<hr>
<h1>Access Denied - You are not authorized to access this resource.</h1>
<hr>
<br>
<img th:src="@{https://cdn-icons-png.flaticon.com/512/3518/3518740.png}" alt="s1"
     style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;"/>
<br>
<a style="color: #1100ff; font-size: 30px" th:href="@{/}">Vrati se na pocetnu stranicu!</a>
</body>
</html>