<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dobrodosli!</title>
  <link rel="stylesheet"
        th:href="@{/css/homepage.css}" />
</head>
<body>
<div id="naslov">
<h1>Cineplexx</h1>
    <nav>
        <ul class="pozadina">
            <li><a th:href="@{/}">Dobrodošli</a></li>
            <li><a th:href="@{/film/list}" >Repertoar</a></li>
            <li><a th:href="@{/bioskop/list}" >Bioskopi</a></li>
            <li><a th:href="@{/projekcija/list}" >Projekcije</a></li>
                <li> <a  th:href="@{/logout}">Odjavi se</a></li>

        </ul>
    </nav>
</div>
</body>
</html>