<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dobrodosli!</title>
  <link rel="stylesheet"
        th:href="@{/css/homepage.css}" />
</head>
<body sec:authorize="isAuthenticated()">
<div id="naslov"><h1>Cineplexx</h1></div>
    <nav>
        <ul class="pozadina">
            <li><a th:href="@{/home}">Dobrodošli</a></li>
            <li><a th:href="@{/film/list}" >Repertoar</a></li>
            <li><a th:href="@{/bioskop/list}" >Bioskopi</a></li>
            <li><a th:href="@{/projekcija/list}" >Projekcije</a></li>
            <li > <a  th:href="@{/rezervacija/list}">Moje informacije</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"> <a  th:href="@{/admin}">Admin</a></li>
                <li> <a  th:href="@{/logout}">Odjavi se</a></li>
        </ul>
    </nav>

<div align="right" style="margin-top: 100px; margin-right: 100px; font-size: 35px; color: #919191; font-family: 'Curlz MT',serif">
  <u>Trenutno ulogovan korisnik</u>
    <br>
   <!-- <span th:text="'Ime :'${#authentication.getPrincipal().getUser().getIme()}"></span>
    <span th:text="'Prezime :'${#authentication.getPrincipal().getUser().getPrezime()}"></span>
    <span th:text="'Korisnicki ime :'${#authentication.getPrincipal().getUser().getUsername()}"></span>
    <span th:text="'Email :'+${#authentication.getPrincipal().getUser().getEmail()}"></span>
    <span th:text="'Broj telefona :'${#authentication.getPrincipal().getUser().getBrojTelefona()}"></span>
    <span th:text="'Uloga :'${#authentication.getPrincipal().getUser().getUloga()}"></span>
-->
    <span th:text="'Korisnicko ime: '+${#authentication.getPrincipal().getUsername()}"></span>
    <br>
    <span th:text="'Uloga: '+${#authentication.getPrincipal().authorities}"></span>
</div>
</body>
</html>