<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Registration form</title>
</head>
<body style=" background-color: rgb(255,115,0)" >
<div style="margin-left: 40%;  margin-right: 40%; background-color: white; margin-top: 15px;padding-bottom: 20px; text-align: center" >
<h1>Register</h1>

<img th:src="@{https://i.pinimg.com/564x/88/39/1c/88391cea4f7b72d4f2402b095a473465.jpg}" alt="s1" height="300px"/>

<form method="POST" th:action="@{/register}" id="registerForm">

<label >Korisnicko ime: </label>
   <!-- <input type="text" th:field="*{username}"/><br/>
-->
    <input type="text" class="form-control  col-12" name="username"/><br/>
    <label >Lozinka: </label>
    <input type="password" class="form-control  col-12" name="password"/><br/>

    <label >Potvrdite lozinku: </label>
    <input type="password" class="form-control  col-12" name="password1"/><br/>

    <label >Ime: </label>
    <input type="text"  class="form-control col-12" name="ime"/><br/>
    <label >Prezime: </label>
    <input type="text" class="form-control col-12" name="prezime"/><br/>

        <label >Email: </label>
    <input type="text" class="form-control  col-12" name="email" /><br/>

    <label >Broj telefona: </label>
    <input type="text" class="form-control  col-12" name="brojtelefona"/><br/>

   <!-- <button  style="background-color: #ff7300" type="submit" >Registruj se!</button> -->
    <input class=" col-12" type="submit" value="Register"/>
</form>
<br>
<a style="color: #ff7300" th:href="@{/}">Vrati se na stranicu za prijavu!</a>
<br>
</div>
</body>
</html>