<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/film-detalji.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Film</title>

</head>
<body sec:authorize="isAuthenticated()">
<div id="naslov">
<h1>Cineplexx</h1></div>
<nav>
    <ul class="pozadina">
        <li><a th:href="@{/home}">Dobrodošli</a></li>
        <li><a th:href="@{/film/list}" >Repertoar</a></li>
        <li><a th:href="@{/bioskop/list}" >Bioskopi</a></li>
        <li><a th:href="@{/projekcija/list}" >Projekcije</a></li>
        <li > <a  th:href="@{/rezervacija/list}">Moje informacije</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"> <a  th:href="@{/admin}">Admin</a></li>
        <li> <a  th:href="@{/logout}">Odjavi se</a></li>
    </ul>
</nav>

    <h1 class="glavniNaslov">Detalji o filmu</h1>

    <div id="glavni" class="d-flex flex-nowrap" >
        <div class="order-1 p-2" id="slika">
    <img th:src="@{${movie.slika}}" alt="p1"/>
        </div >
        <div class="order-2 p-2" id="text">
            <p th:text="'Naziv: '+${movie.naziv}" />
            <p th:text="'Glumci: '+${movie.glumci}" />
            <p th:text="'Trajanje: '+${movie.trajanje}+' min'" />
            <p th:text="'Ocena: '+${movie.ocena}" />
            <p th:text="'Zanr '+${movie.zanr}" />
            <p th:text="'Opis: '+${movie.opis}" />
    </div>


</div>
<hr>
<!--ovde treba da se dodaju sve projekcije za jedan film  -->

<div th:if="${projects.size()>0}" class="d-flex flex-row justify-content-around">
    <div id="projekcije"  class="p-2" th:each="project : ${projects}">
       <b> <p th:text="${project.sala.bioskop.nazivbioskopa}" /></b>
        <p th:text="${project.sala.naziv}" />
        <p th:text="${project.datum}" />
        <p th:text="${project.vreme}" />
    </div>
</div>
<div th:if="${projects.size()==0}" >
    <p  STYLE="color: #666969; font-size: 20px; text-align: center">Nema zakazanih projekcija za ovaj film! USKORO!</p>
</div>
<hr>
<div id="link">
    <a style="color: #ff7300" th:href="@{/film/list}">Vrati se da vidis sve filmove</a></div>
    <hr>

    <div id="admin" sec:authorize="hasAuthority('ADMIN')">
        <div class="naslov">
            <h1>Admin panel</h1>

        <p >
            <a style="color: #ff7300" th:href="@{/film/showFormForUpdate(idfilm=${movie.idfilm})}">
                Izmeni film
            </a>
        </p>

        <p > <a style="color: #ff7300" th:href="@{/film/delete(idfilm=${movie.idfilm})}"
                onclick="if (!(confirm('Da li ste sigurni da zelite da obrisete ovaj film?'))) return false">
           Obrisi  film
        </a></p>
    </div>
</div>

</body>
</html>